.channels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.channels-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.add-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button:hover {
  opacity: 0.8;
}

.plus-icon {
  width: 35px;
  height: 35px;
}
