.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.box-content {
  display: flex; /* Flex-контейнер для колонок */
  flex-direction: row; /* Горизонтальное расположение */
  padding: 0; /* Убираем лишние отступы */
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 1300px;
  height: 850px;
  margin-top: 50px;
  overflow: hidden;
}
.flex-container {
  display: flex;
  width: 100%;
  gap: 0px;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  color: #666;
}
